<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis assumenda, odit fuga aspernatur magni reprehenderit praesentium! Expedita necessitatibus non possimus in rerum vitae, sint ex, facere porro perferendis tenetur quae.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error a quo aspernatur cumque quis ab, vel sit at laboriosam laborum expedita placeat similique minima itaque magnam recusandae ipsam? Sunt, architecto!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati id aperiam doloribus nobis, commodi maiores nam? Voluptatum, ratione. Ipsa consequatur consequuntur tenetur laborum suscipit corrupti ipsum cupiditate dolore quibusdam facilis!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores repellat at autem quis nemo quisquam animi id beatae officia, praesentium, nisi aperiam eaque perspiciatis similique. Praesentium velit incidunt eius modi.
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure atque magni hic eligendi consequatur nam deserunt doloribus nobis ea inventore commodi alias deleniti officia, autem repudiandae minima aliquam quo illum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum voluptates aut debitis, nisi eos voluptatibus dolorem, dolores mollitia maiores voluptatem natus tempora obcaecati corporis possimus id praesentium, nihil enim!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae consequatur, explicabo provident laudantium nihil nesciunt ut voluptatem, expedita quas tempore cum quos ducimus minima? Fuga expedita iusto ratione voluptatibus mollitia?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ratione labore itaque tenetur cupiditate reiciendis error, eveniet vel, suscipit ullam vitae facere dolor, eos animi aut explicabo! Cumque, architecto molestiae.
  </p>

</div>
